#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Line_2 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-256db694-b915-4c39-b9dc-eba16569bcf8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}