#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_5 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_5 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_5 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_6 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_6 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_6 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_7 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_7 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_7 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_8 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_8 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Image_8 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Yu Gothic UI Light',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Yu Gothic UI Light',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Yu Gothic UI Light',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 {
  position: absolute;
  width: 152px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 {
  position: absolute;
  width: 202px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 {
  position: absolute;
  width: 164px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 {
  position: absolute;
  width: 210px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 {
  position: absolute;
  width: 177px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 > .clipping, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_1 {
  position: absolute;
  width: 321px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_1 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_1 > svg {
  height: 95px;
  width: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_2 {
  position: absolute;
  width: 321px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_2 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_2 > svg {
  height: 95px;
  width: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_3 {
  position: absolute;
  width: 321px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_3 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_3 > svg {
  height: 95px;
  width: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_4 {
  position: absolute;
  width: 321px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_4 > img, #s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc #s-Hotspot_4 > svg {
  height: 95px;
  width: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9d35966f-3a26-47a8-8a44-6c7e1b5154fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}